streamlit
firebase-admin
openai>=1.0.0
requests
matplotlib
pandas
nltk
transformers
torch
SpeechRecognition
pydub
vaderSentiment
scikit-learn
python-dotenv
altair
PyJWT           # If Firebase custom token auth is used
google-cloud-firestore  # To ensure Firestore works even outside firebase-admin
pyrebase4
