streamlit
streamlit_option_menu
streamlit-lottie
pandas
numpy
matplotlib
plotly
vaderSentiment
transformers
torch
SpeechRecognition
pydub
emoji
lottie
requests
nltk
seaborn
wordcloud
google-auth
google-auth-oauthlib
google-api-python-client
